[Unit]
Description=Ежедневная резервная копия базы карты объектов

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true

[Install]
WantedBy=timers.target
